
<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <span>Views: <%= counter %></span>
                </div>
                <span>Title: </span><p class="card-title text-uppercase"><%= book.title %></p>
                <span>Description: </span><p class="card-title text-uppercase"><%= book.description %></p>
                <span>Authors: </span><p class="card-title text-uppercase"><%= book.authors %></p>
                <span>FileCover: </span><p class="card-title text-uppercase"><%= book.fileCover %></p>
                <span>FileName: </span><p class="card-title text-uppercase"><%= book.fileName %></p>
                <span>FileBook: </span><p class="card-title text-uppercase"><%= book.fileBook %></p>
                <span>Favorite: </span>
                    <% if (book.favorite) { %>
                        <p class="card-title text-uppercase">True</p>
                    <% } else { %>
                        <p class="card-title text-uppercase">False</p>
                    <% } %>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/books/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../port/layout-end') %>
